{% extends 'layout.html' %} {% block content %}
<main id="main">
  <p>
      Greetings stranger! Why don't you sit back, relax and view our database
      of a thousand movies, alongside the facility to search for specific actors,
      directors, genres, etc.
  </p>
  <br />
  <p>
      Although you will be unable to actually watch the movies featured in our database, you can
      find something suited to your tastes. Happy browsing!
  </p>

  <p style="text-align: center; font-style: italic;">
    Webpage Designed by afer226
  </p>
</main>
{% endblock %}
